@import url(normalize.css);

:root {
    --main-bg-color: #11304E;
    --main-txt-color:#333333;
    --main-btn-color:#0B4F7D;
    --main-link-color:#0664aa;
  }

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--main-txt-color);
    font-size: 1.2em;
}
h1{
    font-weight: 900;
    font-size: 3.35rem;
}

h2{
    font-size: 1.8rem;
    clear: both;
}
p{
    font-size: 1.4rem;
    line-height: 1.5em;
}

a{
    color: var(--main-link-color);
    line-height: 1.5em;
}

button {
    cursor: pointer;
}

#heading{
    font-size: 2.7rem;

}

/*Start icons*/
svg{
    width: 100px;
    fill: var(--main-bg-color);
    vertical-align: bottom;
}
#Capa_3{
    width: 30px;
}
#exclamation_mark{
    width: 50px;
    vertical-align: middle;
    fill: var(--main-btn-color);
    /*margin-left: 41px;*/
    padding-right: 20px;
    float: left;
}
#edit,#accept{
    fill: #fff;
    width: 25px;
    vertical-align: text-bottom;
    display: inline-block;
}

#clock,#car,#group,#repeat,#weekIcon{
    float: left;
    fill: #000;
    width: 25px;
    vertical-align: bottom;
    margin-right: 20px;
}

#map{
    float: left;
    fill: #000;
    width: 45px;
}

#from{
    fill: #000;
    width: 22px;
    vertical-align: bottom;
   
}

#clock{
    margin-top: 20px;
}
/*End Icons*/


/*Start header*/
header{
    height: 600px;
}
#header-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(http://studenter.miun.se/~asha1900/dt068g/moment3-2/img/background.jpg);
    background-position-y: center;
    width: 100%;
    height: 600px;
    background-color: black;
}

#header-image:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .55;
}

#header-desc h1 {
    font-size: 6.35rem;
    color: #fff;
    margin-bottom: 0;
    margin-top: 170px;
    background: #0000006e;
   
}

#header-desc {
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 10px;
}

#header-desc p{
    font-weight: 700;
    margin: 0;
    color:#fff;
    background: #0000006e;
   
}
/*End header*/

/*Start navbar*/
nav{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    height: 4.5rem;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4.5rem;
}

nav ul, #sitemap{
    font-size: 1.325rem;
    line-height: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#flaws-list{
    line-height: 2rem; 
}

#flaws-list li {
    margin-bottom: 10px;
}

#sitemap ul > li::before{
    content: "\221F";
    left: -18px;
    top: -4px;
    color: #000;
    padding: 10px;
}

#sitemap ul>li {
    padding-left: 0.25rem;
    padding: 10px;
    color: var(--main-link-color);
}

#sitemap ul>li a {
    color: var(--main-link-color);
}

#sitemap ul{
    list-style-type: none;
}

#sitemap li ul{
    padding-left: 30px;
}

nav a{
    padding: 20px;
    color: white;
    text-decoration: none; 
    font-weight: 700;
}

nav ul li a:hover,.activePage{
    background-color: #0B4F7D;
}

#logo{
    font-size: 25px;
    font-weight: 800;
    top: 1rem;
    left: 1rem;
    position: relative;
    padding: 0 !important;
    float: left;
}

#site-map{
    display: block;
    width: 100%;
    height: 35px;
    background-color: var(--main-bg-color);
}

#site-map a{
    color: #fff;
    float: right;
    padding-top: 5px;
    padding-right: 20px;
}

/*End navbar*/

/*Start main*/

main{
    max-width: 900px;
    margin: 0 auto;
    /*border-right: 1px solid #d6d3d0;
    border-left: 1px solid #d6d3d0;*/
}

section{
    margin: 0 auto;
    border: 1px solid grey;
    margin-bottom: 30px;
}

.section-heading{
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 10px;
    margin: 0;
}

.flex-section{
    max-width: 300px;
    margin: 0 auto;
}

.flex-section a{
    display: block;
    color: var(--main-txt-color);
    font-weight: 700;
    font-size: 1.7em
}

.flex-section a:hover{
    color: var(--main-bg-color);
}

#flex-container{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    max-width: 650px;
    margin: 0 auto;
}

#second-section-container{
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

#second-section-container a{
    color: blue;
}

#second-section p{
    font-size: 1.2em;
    font-weight: 600; 
}

.default-button{
    background-color: var(--main-btn-color);
    color: #fff;
    border: none;
    display: block;
    max-width: 200px;
    height: 50px;
    margin: 20px auto;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    line-height: 50px;
}

.large{
    max-width: 300px
}

.default-button:hover{
    background-color: var(--main-bg-color);
}

.limited-p{
    max-width: 533px;
    margin: 0 auto;
    margin-bottom: 50px;
}

#empty-space{
    height: 150px;
}

a:focus-visible,button:focus-visible,select:focus-visible,input:focus-visible,
option:focus-visible,textarea:focus-visible,[type="checkbox"]:focus-visible{
    border: 3px solid var(--main-link-color) !important     ;
    outline: unset;
}


.default-button:focus-visible{
    border: 3px solid yellow !important;
    outline: unset;
}

/*Start FAQ*/
.faq {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    height: 0;
    line-height: 0;
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 25px;
    padding-top: 25px;
    border-bottom: 1px solid #d6d3d0;
    background-color: unset;
  }

.faq:after {
    /*content: '\25bc';*/
    content: '\002B'; 
    color: var(--main-bg-color);
    font-weight: 900;
    float: right;
    font-size: 60px;
    position: relative;
    margin-top: -8px;
  }

.active:after {
    content: "\2212";
  }

.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .panel p{
    padding: 0 18px;
  }
/*End FAQ*/

/*Start form*/
form{
    max-width: 550px;
    margin: 0 auto;
}

label{
    font-weight: 700;
}

input,textarea,select{
    display: block;
    margin: 20px 0;
    padding: 15px;
    width: 90%;
    border-width: 2px;
    border-color: var(--main-bg-color);
    border-radius: 3px;
    box-sizing: border-box;
}

[type="checkbox"]{
    width: unset;
    display: inline;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    transform: scale(2);
    padding: 10px;
    margin: 20px 10px;   
}

[type="submit"],[type="reset"]{
    cursor: pointer;
    padding: 0 20px;
    border-radius: 5px;
    margin-top: 20px !important;
}

#summary{
    border: 7px dashed #000;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

#buttons{
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons a{
    margin: 0;
}

.order{
    margin: 0;
    background-color: #328329;
    display: inline-block;
    width: 30%;    
}

.change{
    background-color: #af5302;
    display: inline-block;
    width: 30%;
}

.cancel{
    margin: 0;
    background-color: #8F2626;
    display: inline-block;
    width: 30%;
    color: #fff !important;
}

.span{
    font-weight: 600;
}

/*End form*/

/*End main*/

/*Start footer*/
footer{
    border-top: 1px solid #d6d3d0;
    margin-top: 50px;
    background-color: var(--main-bg-color);
    color: #fff;
}

footer a{
    color: #fff;
}

#footer-container{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

footer section a{
    display: block;
}
.footer-copyright{
    border-top: 1px solid grey;
    margin: 0 auto;
    text-align: center;
}
.footer-copyright p{
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}

footer section a {
    padding-bottom: 15px;
    font-size: 1.3rem;
}
/*End footer*/

/* The Modal (background) */
.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-sizing: border-box;
    padding: 10px;
    -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .material-icons{
    color: #fff;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -50px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    z-index: 9;
    background: #000;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}
.material-icons {
    font-style: normal;
    font-size: 64px;
    line-height: 1;
}

#modal-p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

#modal-h3{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.7rem;
    margin-top: 50px;
}

.succesful-modal{
    max-width: 350px;
}
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {opacity:0} 
    to {opacity:1}
  }
  
  @keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: #000;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }

  
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-body {
      padding: 2px 16px;
      max-width: 450px;
      margin: 0 auto;
      padding: 20px 0;
    }

    #box{
        background-color: #D5E6F3;
        color: #000000;
        border: 1px solid #fff;
        font-weight: 700;
        padding: 10px 40px;
    }

    #breadcrumbs{
        max-width: 650px;
        margin: 0 auto;
    }

    #breadcrumbs ul li{
        padding-left: 5px;
        display: inline-block;
    }

    #breadcrumbs ul li a{
        color: var(--main-link-color);
    }

    #breadcrumbs>ul li:after {
        content: '/';
        margin-left: 0.55rem;
    }

    #breadcrumbs>ul li:last-child:after{
        content: '';
        margin-left: 0;
        margin-right: 0;
    }

    #inside-container{
        margin: 0 auto; 
        max-width: 650px;
    }

    hr {
        border-bottom: 3px solid black;
        clear: both;
        margin: 30px 0;
    }

    .addresses{
        float: left;
        margin: 0;
        padding: 0;
        font-weight: 700;
    }

    .remove-button{
        float: right;
        margin-bottom: 20px;
        background-color: #7c1111;
        border: none;
        display: block;
        height: 50px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-weight: 500;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }

    .remove-button:hover{
        background-color: #000;
    }

    #error-msg{
        color: red;
        text-align: center;
        font-weight: 600;
    }

    .nav-desc{
        display: none;
    }

    button.ham {
        display: none;
    }

    /*Start nav*/
   

    /*End nav*/

    /*Start form*/
    #contact-form label{
        font-weight: 700;
        margin-bottom: 10px;
        padding: 0;
    }

    #contact-form input[type="text"],#contact-form input[type="email"], 
    #contact-form textarea{
        width: 100%;
    margin: 0 0 5px;
    background-color: #fff;
    font-size: .933333em;
    padding: 0 10px;
    border: 1px solid #dcdcdc;
    max-width: 100%;
    min-width: 160px;
    min-height: 42px;
    border-radius: 6px;
    margin-top: 10px;
    }

    #contact-form textarea {
        height: 200px;
        overflow: auto;
        resize: none;
    }

    .required-star {
        color: red;
    }

    #contact-form input[type="submit"] {
        background-color: #fff;
        font-size: 1em;
        padding: 0 10px;
        border: 1px solid #dcdcdc;
        max-width: 130px;
        margin: 0;
        min-height: 42px;
        border-radius: 6px;
    }
    

    /**/

    .notification {
        position: relative;
      }

      .notification .badge {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color:#333333;
        color: white;
        width: 41px;
        height: 50px;
      } 

    .date {
        float: left;
        width: 46%;
    }
    .time {
        float: right;
        width: 42%;
        margin-right: 10%;
    }

    .date input,.time input{
        width: 100%;
    }

    input#datepicker{
        padding: 17px;
    }

    input#datepicker:hover{
        cursor: pointer;
    }

    .litepicker .container__days .day-item.is-in-range{
        background-color:var(--main-txt-color);
        color: #fff;
    }

    .litepicker .container__days .day-item.is-start-date,.litepicker .container__days .day-item.is-end-date{
        background-color: var(--main-btn-color);
    }

    .litepicker .container__days .day-item:hover {
        box-shadow: inset 0 0 0 1px var(--main-btn-color);
    }

    .litepicker .container__days .day-item.is-today {
        font-weight: 900;
    }

    /*Start Media Query*/
    @media screen and (max-width: 522px) {
        #header-desc h1{
            font-size: 12vmin;
        }

        #header-desc p,.flex-section a,.faq {
            font-size: 5vmin;
        }

        .faq {
            font-size: 4.5vmin;
        }

        h1{
            font-size: 2.8rem;
        }

        h2{
            font-size: 1.5rem;
        }

        h3{
            font-size: 1.3rem;
        }

        .limited-p{
            padding: 20px;
        }
        main{
            padding: 20px;
        }
        input, textarea, select{
            width: 100%;
        }

        #buttons{
            flex-direction: column;
            align-items: unset;
        }

        .order,.change,.cancel{
            margin-bottom: 20px !important;
            width: 100%;
        }

        #buttons .default-button{
            max-width: unset;
        }

        #heading{
            font-size: 2.5rem;
        }

        #footer-container{
            flex-direction: column;
            padding: 20px;
        }
        section{
            margin: unset;
        }

        .modal-body a,.modal-body button {
            width: 45% !important;
        }

        .modal-body{
            padding: 0 20px;
        }

        #exclamation_mark{
            display: block;
            margin: 0 auto;
            float: none;
        }

        #box{
            padding: unset;
        }

        #box p{
            text-align: center;
        }

        .default-button{
            max-width: 300px;
           
        }

        .time{
            margin-right: 0;
            width: 100%;
        }

        .date{
            width: 100%;
        }

        .faq{
            padding: 18px 0;
        }

        #contact-form input[type="text"],#contact-form input[type="email"], 
    #contact-form textarea{
        border: 1px solid #838383;
    }
    header,#header-image {
        height: 350px;
    }
    #header-desc h1{
        margin-top: 60px;
    }

    a.menu-item{
        font-size: 8vw;
    }

    }

    @media screen and (max-width: 780px) {
        .ham {
            position: relative;
            /* keep the hamburger button above everything */
            z-index: 100;
            top: 1rem;
            right: 1rem;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            float: right;
          }
        
          button.ham {
            background: none;
            color: #fff;
            border: unset;
            font-size: 5vmax;  
        }
          
          .xIcon {
            display: none;
            color:white;
          }
          
          .menu {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            color: white;
            transform: translateY(-100%);
            /*transition: transform .8s;*/
            list-style-type: none;
            padding-top: 4rem;
            margin: auto 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: var(--main-bg-color);
            z-index: 10;
        
          }
          
          .showMenu {
            transform: translateY(0);
          }
          
          .menu-item {
            display: block;
          color: white;
          text-decoration: none;
          font-size: 4vmax;
          text-transform: uppercase;
          font-weight: 900;
          line-height: 1;
          padding: 0;
        }
        
        .menuIcon,.material-icons{
            font-weight: 900;
            line-height: 1;
        }
    
        .nav-desc{
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: .4em;
            text-transform: uppercase;
            text-align: center;
            padding: 0.5rem 0 2em 0;
            font-size: 4vw;
            
        }
    
        .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
            content: "\f0c9";
        }
    
        nav ul{
            display: block;
            height: unset;
        }
    
        .nav-desc{
            display: block;
        }
    
        button.ham {
            display: block;
        }

        a.menu-item {
            font-size: 6vw;
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 400px){
        #flex-container{
            flex-direction: column;
        }

        .flex-section{
            max-width: 200px;
            margin: 10px;
        }

        .faq:after{
            margin-right: -10px;
        }

        #logo{
            font-size: 8vw;
        }

        p,h1,h2,h3,a{
            word-break: break-word;
        }
        .default-button{
            font-size: 5vw;
        }
        .remove-button{
            width: 90%;
            float: none;
        }

    }

    .error{
        border:2px solid red;
    }

    form span{
        display: none;
    }

    .required{
        display: block;
        color: red;
        font-weight: 600;
        padding: 0 0 10px 0;
    }

    #test{
        width: 45%;
        float: left;
    }

    #test2{
        width: 45%;
        float: right;
        margin-right: 10%;
    }
 
  

